h1 {
    font-size: 36px;
    color: #000;
    font-family: 'Open Sans';
    padding-left: 30%;
}
body {
    color: #fff;
    width: 700px;
    margin-left: 300px;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
}
#password{
    margin: 30px;
    width: 600px;
}
#email{
    margin: 30px;
    width: 600px;
}
.datoslg{
    color: rgb(15, 14, 14);
    margin-left: 20px;
    margin-top: 10px;
    font-family: Arial;
}
#boton{
    color:white;
    margin-left: 30px;
    width: 120px;
}