<h1>Formulario de inicio de sesion</h1>
<br>
<body>
    <div>
        <div>
            <form
            class="form-sigin animated fadeIn"
            autocomplete="off"
            [formGroup]= "loginForm"
            (ngSubmit)= "login()"
            >
                <div class="form-group">
                  <label class="datoslg">Correo electronico: </label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="nombre@micorreo.com" formControlName="email" [class.is-invalid]="emailValidate">
                </div>
                <div class="form-group">
                  <label class="datoslg">Contrasena: </label>
                  <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" [class.is-invalid]="passwordValidate"> 
                </div>
                <button type="submit" class="btn btn-primary" id="boton">Iniciar sesion</button>
                <br>
              </form>
              <br>
        </div>
    </div>
</body>
