body{
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
#DateP{
    width: 30%;
}

#DateR{
    width: 30%;
}
#DateF{
    width: 30%;
}
h1 {
    font-size: 36px;
    color: #000;
    font-family: 'Open Sans';
    padding-left: 30%;
}
h3{
    font-size: 25px;
    color: #000;
    font-family: 'Open Sans';

}
#boton{
    color:white;
    margin-left: 5px;
    width: 100px;
}

