<body>
    <h1 class="alert alert-success">Formulario de registro</h1>
    <div class="alert alert-success">
        <form
        class="form-sigin animated fadeIn"
        autocomplete="off"
        [formGroup]= "registerForm"
        (ngSubmit)= "register()"
        >
            <div id="DateP">
                <h3>Datos personales</h3>
                <div>
                    <label for="fullName">Nombre completo: </label>
                    <input type="text" class="DatosPersonales form-control" id="inputfullName" formControlName="fullName" [class.is-invalid]="fullNameValidate">
                </div>
                <div class="">
                    <div>
                        <label for="document">Numero de documento: </label>
                        <input type="number" class="DatosPersonales form-control" id="document" formControlName="document" [class.is-invalid]="documentValidate">
                    </div>
                    <div>
                        <label for="cellphone">Celular: </label>
                        <input type="number" class="DatosPersonales form-control" id="cellPhone" formControlName="cellPhone" [class.is-invalid]="cellPhoneValidate">
                    </div>
                </div>
                <div>
                    <div>
                        <label class="datoslg">Correo electronico: </label>
                        <input type="email" class="DatosPersonales form-control" id="inputemail" aria-describedby="emailHelp" placeholder="nombre@micorreo.com" formControlName="email" [class.is-invalid]="emailValidate">
                    </div>
                    <div>
                        <label class="datoslg">Contrasena: </label>
                        <input type="password" class="DatosPersonales form-control" id="inputpassword" placeholder="Password" formControlName="password" [class.is-invalid]="passwordValidate">
                    </div>
                </div>
            </div>
            <div id="DateR">
                <h3>Datos de residencia</h3>
                <div>
                    <div>
                        <label for="departament">Departamento: </label>
                        <input type="text" class="DatosResidencia form-control" id="inputdepartament" formControlName="departament" [class.is-invalid]="departamentValidate">
                    </div>
                    <div>
                        <label for="city">Ciudad: </label>
                        <input type="text" class="DatosResidencia form-control" id="inputcity" formControlName="city" [class.is-invalid]="cityValidate">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="neighborhood">Barrio: </label>
                        <input type="text" class="DatosResidencia form-control" id="inputneighborhood" formControlName="neighborhood" [class.is-invalid]="neighborhoodValidate">
                    </div>
                    <div>
                        <label for="address">Direccion: </label>
                        <input type="text" class="DatosResidencia form-control" id="inputaddress" formControlName="address" [class.is-invalid]="addressValidate">
                    </div>
                </div>
            </div>
            
            <div id="DateF">
                <h3>Datos financieros</h3>
                <div>
                    <label for="salary">Salario: </label>
                    <input type="number" class="DatosFinancieros form-control" id="inputsalary" formControlName="salary" [class.is-invalid]="salaryValidate"> 
                </div>
                <div>
                    <label for="otherMoneyIncome">Otros ingresos: </label>
                    <input type="number" class="DatosFinancieros form-control" id="inputotherMoneyIncome" formControlName="otherMoneyIncome" [class.is-invalid]="otherMoneyIncomeValidate">
                </div>
                <div>
                    <label for="monthlyExpenses">Gastos Mensuales: </label>
                    <input type="number" class="DatosFinancieros form-control" id="inputmonthlyExpenses" formControlName="monthlyExpenses" [class.is-invalid]="monthlyExpensesValidate"> 
                </div>
                <div>
                    <label for="financialExpenses">Gastos financieros: </label>
                    <input type="number" class="DatosFinancieros form-control" id="inputfinancialExpenses" formControlName="financialExpenses" [class.is-invalid]="financialExpensesValidate">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="boton">Registrar</button>
        </form>
    </div>
</body>